* {
    display: flex;
    box-sizing: border-box;

    border: 0;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

body {

    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;

    background-color: #5B5B5B;
}

div {
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: 2;

    width: 500px;
    height: 442px;
    padding: 13px;

    background-color: #fff;
    box-shadow: 0 5px 20px #00000025;
    border-radius: 10px;

    z-index: 1;
}

h1, img, p, input, button {
    z-index: 2;
}

h1 {
    display: block;

    width: 245px;
    height: 218px;
    margin: 20px 0 38px 0;
    bottom: 20px;

    color: #000;

    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}

#biaPhoto {
    position: absolute;
    left: calc(13px + 210px);

    width: 258px;
    height: 258px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: 0.2s;
}

#hColor1 {
    display: inline;

    color: #FFB431;

    font-size: 48px;
    line-height: 56px;
}

p {
    display: block;

    width: auto;
    height: 21px;

    color: #000;

    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

#pColor1 {
    display: inline;

    height: 21px;

    color: #FFB431;

    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

#numberInput {
    display: none;
    position: relative;

    width: 55px;
    height: 50px;
    margin: 0 50%;
    border: 2px solid #DE5540;
    border-radius: 5px;
    transform: translateX(-50%);

    background: #fff;

    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;

}

#numberInput:focus {
    border: 2px solid #DE5540;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#mensageResult {
    margin-top: 20px;
}

#buttonTryAgain {
    width: 161px;
    height: 35px;
    margin: 8px 0 8px 50%;
    transform: translateX(-50%);
    border-radius: 5px;

    color: #fff;
    background-color: #DE5540;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

#numberCount {
    position: absolute;
    width: 100%;
    height: 21px;
    left: 50%;
    top: 381px;
    transform: translateX(-50%);

    color: #000;

    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

#pColor2 {
    display: block;

    width: auto;
    height: 21px;

    color: #FFB431;

    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

